annotated-types==0.7.0
anyio==4.4.0
blinker==1.8.2
Brotli==1.1.0
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
ConfigArgParse==1.7
coverage==7.5.3
dnspython==2.6.1
email_validator==2.1.1
exceptiongroup==1.2.1
fastapi==0.111.0
fastapi-cli==0.0.4
flake8==7.0.0
Flask==3.0.3
Flask-Cors==4.0.1
Flask-Login==0.6.3
requests==2.32.2
uvicorn==0.30.0
